@model BetaProgramDataModel
@{
    ViewData["Title"] = "Your Program";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, @User.FindFirstValue(CustomClaims.UserFullNameClaim)!</h2>
    @if (User.IsInRole(RoleConstants.OwnerRole))
    {
        <p class="lead mb-1 mt-3"> Welcome to the @Model.Name Program - you can <b>see all tasks</b>, <b>add a task</b>, <b>see program details</b>, <b>see applications</b>, <b>see users info</b> and <b>make payments</b></p>
    }
    else if (User.IsInRole(RoleConstants.ModeratorRole))
    {
        <p class="lead mb-1 mt-3"> Welcome to the @Model.Name Program - you can <b>see all tasks</b>, <b>add a task</b>, <b>see program details</b>, <b>see applications</b> and <b>see users info</b>><br />You can also <b>leave</b> the program</p>
    }
    else
    {
        <p class="lead mb-1 mt-3"> Welcome to the @Model.Name Program - you can <b>see all tasks</b>, <b>your tasks</b> and <b>see program details</b><br />You can also <b>leave</b> the program.</p>
    }
    <hr class="my-4">
    <a asp-area="" asp-controller="Task" asp-action="All" asp-route-id="@Model.Id.ToString()" class="btn btn-primary btn-lg">See All Tasks</a>
    @if (User.IsInRole(RoleConstants.DefaultUserRole))
    {
        <a asp-area="" asp-controller="Task" asp-action="Mine" class="btn btn-primary btn-lg">My Tasks</a>
    }
    else
    {
        <a asp-area="" asp-controller="Task" asp-action="Add" class="btn btn-primary btn-lg">Add Task</a>
    }
    <span> | </span>
    <a asp-area="" asp-controller="BetaProgram" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning btn-lg">Details</a>
    @if (!User.IsInRole(RoleConstants.DefaultUserRole))
    {
        <span> | </span>
        <a asp-area="" asp-controller="CandidateApplication" asp-action="AllCurrentProgram" asp-route-id="@Model.Id.ToString()" class="btn btn-warning btn-lg">Applications</a>
        <a asp-area="" asp-controller="BetaProgram" asp-action="UsersInfo" class="btn btn-warning btn-lg">Users Info</a>
    }
    @if (User.IsInRole(RoleConstants.OwnerRole))
    {
        <a asp-area="" asp-controller="Payment" asp-action="Create" class="btn btn-warning btn-lg">Make Payment</a>
    }
    @if (!User.IsInRole(RoleConstants.OwnerRole))
    {
        <span> | </span>
        <a asp-area="" asp-controller="BetaProgram" asp-action="Leave" class="btn btn-danger btn-lg">Leave</a>
    }
</div>