@model BetaProgramServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Description: <b>@Model.Description</b></h6>
            <br />
@*             <a asp-controller="BetaProgram" asp-action="Details" asp-route-id="@Model.Id"
               asp-route-information="@Model.GetInformation()" class="btn btn-success">Details</a> *@
        </div>
    </div>
</div>

