@model BetaProgramDetailsServiceModel
@inject IBetaProgramService betaProgramService
@inject ICandidateApplicationService candidateApplicationService
@inject IApplicationUserService applicatioUserService

@{
    ViewBag.Title = "Beta Program Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>@Model.Description</p>
            <p>Total users in this program: <b>@Model.TotalParticipants</b></p>
            <p>Total tasks completed: <b>@Model.TotalTasksCompleted</b></p>
            @if(candidateApplicationService.HasApplicationForCurrentUserAndProgram(User.Id(), Model.Id.ToString()))
            {
                <p><b>You have already submitted your application for our program!</b></p>
            }
            else if(await betaProgramService.GetOwnerIdAsync(Model.Id.ToString()) == Guid.Parse(User.Id()))
            {
                <p><b>You are the owner of this program!</b></p>
            }
            else if (User.IsInRole(RoleConstants.OwnerRole))
            {
                <p><b>You are an owner so you can't candidate!</b></p>
            }
            else if (User.IsInRole(RoleConstants.ModeratorRole))
            {
                <p><b>You are a moderator and you have a program so you can't candidate!</b></p>
            }
            else if((await applicatioUserService.GetApplicationUserByIdAsync(User.Id())).BetaProgramId != null)
            {
                <p><b>You have a program so you can't candidate!</b></p>
            }
            else if ((User.IsInRole(RoleConstants.AdminRole)))
            {
                <p><b>You are the Grear Admin so you can't candidate!</b></p>
            }
            else
            {
                <a asp-controller="CandidateApplication" asp-action="Add" asp-route-id="@Model.Id.ToString()" class="btn btn-success">Candidate</a>
            }
            <div class="form-inline">
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Owner Info</h5>
                    <p class="card-text">Email:  @Model.Owner.Email</p>
                    <p class="card-text">Full name: @($"{Model.Owner.FirstName} {Model.Owner.LastName}")</p>
                </div>
            </div>
        </div>
    </div>
</div>

