@model IEnumerable<ApplicationUserViewModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th><label>Email</label></th>
                <th><label>Full Name</label></th>
                <th><label>Completed Tasks</label></th>
                <th><label>In Progress Tasks</label></th>
                <th><label>Money To Transfer</label></th>
                @if (User.IsInRole(RoleConstants.OwnerRole))
                {
                    <th><label></label></th>
                    <th><label>Actions</label></th>
                    <th><label></label></th>
                }
                else
                {
                    <th><label>Actions</label></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td><label>@user.Email</label></td>
                    <td><label>@($"{user.FirstName} {user.LastName}")</label></td>
                    <td><label>@user.CompletedTasksCount</label></td>
                    <td><label>@user.InProgressTasksCount</label></td>
                    <td><label>@String.Format("{0:f2}", user.MoneyToTransfer)</label></td>
                    @if (User.IsInRole(RoleConstants.OwnerRole))
                    {
                        <td><a asp-controller="Payment" asp-action="Create" asp-route-userId="@user.Id.ToString()" class="btn btn-info btn-lg">Pay</a></td>
                        <td><a asp-controller="BetaProgram" asp-action="Promote" asp-route-userId="@user.Id.ToString()" class="btn btn-success btn-lg">Promote</a></td>
                    }
                    <td><a asp-controller="BetaProgram" asp-action="Kick" asp-route-userId="@user.Id.ToString()" class="btn btn-danger btn-lg">Kick</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-center">Your program currently has no users!</h3>
}

